.btn-details {
    @extend %p-big;
    @extend %main-border-radius;

    text-decoration: none;

    width: 199px;
    padding: 7px 20px;
    margin: -7px -20px;

    display: flex;
    align-items: center;
    gap: 15px;


    background-color: transparent;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
        width: 163px;
    }

    &__text {
        color: $white;
    }

    &__icon {
        width: 25px;
        height: 26px;
        display: block;
        background-image: url(/img/icons/arrow-bt.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media(any-hover: hover) {
        &:hover {
            background-color: $green400;
        }

        &:active {
            background-color: $orange200;
        }
    }

}