.choice {
    @extend %section-mrg-bottom;

    &__top {
        gap: 35px;
        margin-bottom: 106px;

        @media (max-width: 768px) {
            gap: 30px;
            margin-bottom: 50px;
        }

    }

    &__list {
        @extend %p-big;

        list-style: none;
        padding: 0;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @media (max-width: 576px) {
            gap: 10px;
        }

        &-item {

            &--desktop {
                color: $orange200;
                text-decoration: underline;
                text-underline-offset: 0.45em;
            }

        }

        &-link {
            text-decoration: none;

            @media(any-hover: hover) {
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 0.45em;
                }
            }
        }

    }

    &__flex {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 1024px) {
            gap: 18px;
        }
    }

    &__card {
        flex-basis: calc(33.33% - 20px);

        @media (min-width: 668px) and (max-width: 1024px) {
            flex-basis: calc(50% - 9px);
        }

        @media (max-width: 668px) {
            flex-basis: calc(100%);
        }
    }

}

.card {
    @extend %main-border-radius;
    position: relative;
    
    height: 531px;
    overflow: hidden;
    background: linear-gradient(360deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.06) 48.44%,
            rgba(0, 0, 0, 0.5) 100%);

    @media (max-width: 768px) {
        height: 318px;
    }

    & img {
        transition: transform 300ms ease;
    }

    @media(any-hover: hover) {
        &:hover img {
            transform: scale(1.2);
        }
    }

    &__body {
        width: 100%;
        height: 100%;

        padding: 50px;

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;

        color: $white;

        &-promo p {
            @extend %p-small;

        }

        @media (max-width: 768px) {
            padding: 25px;
        }

    }

    &__title {
        margin-bottom: 16px;
        
        @media (max-width: 768px) {
            margin-bottom: 13px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
}