.constructor {
    @extend %section-mrg-bottom;

    &__top {
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    &__form {
        @extend %main-border-radius;
        
        width: 100%;
        padding: 70px;
        background: $white;

        @media (min-width: 768px) and (max-width: 1024px) {
            padding: 60px;
        }

        @media (max-width: 768px) {
            padding: 20px 20px 40px;

            border-radius: 30px;
        }

        & *::placeholder {
            color: $gray300;
        }
    }

    &__flex {
        display: flex;
        flex-wrap: wrap;
        row-gap: 33px;
        column-gap: 30px;

        @media (max-width: 1024px) {
            column-gap: 20px;
        }

        @media (max-width: 768px) {
            row-gap: 30px;
        }

    }

    &__form-field:nth-child(-n+6) {
        flex-basis: calc(50% - 15px);

        @media (max-width: 1024px) {
            flex-basis: calc(50% - 10px);

            @media (max-width: 576px) {
                flex-basis: 100%;
            }
        }

    }

    &__form-field:nth-child(n+7):nth-child(-n+10) {
        flex-basis: 100%;
    }

    &__form-field {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__form-label {
        display: block;
    }

    &__form-input,
    &__form-textarea,
    &__form-select,
    &__form-date {
        @extend %p-normal;

        display: block;
        width: 100%;
        padding: 19px;
        border-radius: 10px;
        background-color: $beige100;
        border: 1px solid $beige100;
        transition: all 0.3s ease;

        @media(any-hover: hover) {
            &:focus {
                background-color: $beige200;
                border-color: $gray300;
            }

            &:hover {
                background-color: $beige200;
            }
        }
    }

    &__form-input,
    &__form-textarea {
        @media (max-width: 768px) {
            padding: 9px;
        }
    }

    &__form-select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        color: $black;
        padding-right: 50px;

        @media (max-width: 768px) {
            padding: 9px 50px 9px 9px;

            @media (max-width: 576px) {
                padding: 10.5px 50px 10.5px 9px;
            }
    
        }
        
        &::-ms-expand {
            display: none;
        }

        & option {
            background-color: $white;
            color: $black;
        }

        &--placeholder {
            color: $gray300;
        }

    }

    &__custom-arrow {
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);

            display: block;
            width: 26px;
            height: 26px;

            background-image: url(/img/icons/ic-dropdown.svg);
            background-repeat: no-repeat;
            background-size: cover;

            pointer-events: none;

            @media (max-width: 768px) {
                right: 10px;
            }
        }
    }

    &__form-date {
        -webkit-appearance: none;
        height: 68px;
        text-transform: uppercase;

        @media (max-width: 768px) {
            height: 43px;
            padding: 9px;
        }

        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }

    &__form-input--date-placeholder {
        color: $gray300;
    }

    &__form-input--invalid {
        border: 1px solid #f1c5c8;

        @media(any-hover: hover) {
            &:focus {
                border-color: #f1c5c8;
            }

            &:hover {
                border-color: #f1c5c8;
            }
        }

    }

    &__form-textarea {
        height: 152px;

        @media (max-width: 768px) {
            height: 132px;
        }
    }

    &__form-fieldset {
        all: unset;

        & legend {
            margin-bottom: 8px;
        }
    }

    &__form-radio-flex {
        display: flex;
        align-items: center;
        gap: 31px;
    }

    &__form-radio-label {
        display: flex;
        align-items: center;
        gap: 11px;
        
        cursor: pointer;

        & input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
    }


    &__form-radio-custom {
        display: inline-block;
        width: 1.1em;
        height: 1.1em;
        border: 0.1em solid $black;
        border-radius: 50%;

        position: relative;

    }

    &__form-radio-input:checked+&__form-radio-custom::before {
        content: '';

        display: inline-block;
        width: 0.6em;
        height: 0.6em;
        background-color: $black;
        border-radius: 50%;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__form-checkbox-lebel {
        @extend %p-small;

        color: $gray300;

        display: flex;
        align-items: center;
        gap: 19px;

        @media (max-width: 1024px) {
            gap: 12px;

            @media (max-width: 576px) {
                gap: 10px;
            }
        }

        @media (max-width: 768px) {
            align-items: flex-start;
            letter-spacing: normal;
        }


        cursor: pointer;

        & input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }

        & a {
            @extend %link;
        }
    }


    &__form-checkbox-custom {
        flex-shrink: 0;
        width: 1.5em;
        height: 1.5em;
        border: 0.12em solid $black;
        border-radius: 20%;

        position: relative;

        @media (max-width: 768px) {
            width: 20px;
            height: 20px;
        }

    }

    &__form-checkbox-input:checked+&__form-checkbox-custom::before {
        content: '';

        display: inline-block;
        width: 0.82em;
        height: 0.64em;
        background-image: url(/img/icons/check-mark.svg);
        background-repeat: no-repeat;
        background-size: cover;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__form-buttons {
        display: flex;
        justify-content: flex-start;
        gap: 30px;

        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    &__form-button {
        width: 235px;
        height: 58px;
        padding: 0.75px;

        @extend %p-normal;
        color: $green400;
        background-color: $green100;
        border-radius: 10px;

        transition: all 0.3s ease;

        cursor: pointer;

        @media (max-width: 768px) {
            width: 134px;
            height: 47px;
        }

        @media(any-hover: hover) {
            &:hover {
                background-color: $gray100;
            }

            &:active {
                background-color: $gray200;
            }
        }

        &--primery {
            color: $white;
            background-color: $green400;

            @media(any-hover: hover) {
                &:hover {
                    background-color: $green300;
                }

                &:active {
                    background-color: $green200;
                }
            }
        }
    }
}