$black: #1b1f2b;
$white: #ffffff;

$orange200: #efa501;
$orange100: #f8e6be;

$green400: #286562;
$green300: #3b7e7b;
$green200: #627f7e;
$green100: #e0f0e5;

$gray300: #a6a6a6;
$gray200: #d9dfdb;
$gray100: #F1F3F2;

$beige200: #f4f0e9;
$beige100: #f9f7f4;

$h1-font-letter-spacing: 0.02em;
$p-small-letter-spacing: -0.01em;

$mobile-h1-font-letter-spacing: 0.02em;
$mobile-h2-font-letter-spacing: 0.02em;
$mobile-h3-font-letter-spacing: 0.04em;
$mobile-p-small-letter-spacing: -0.01em;

$section-mrg-bottom: (
    small: 75px,
    large: 135px
);

$main-border-radius: (
    small: 20px,
    large: 50px
);

$h1-font: (
    small: (normal 700 34px / 38px "Roboto",
        sans-serif),
    middle: (normal 700 59px / 73px "Roboto", sans-serif),
    large: (normal 700 96px / 105px "Roboto", sans-serif)
);

$h2-font: (
    small: (normal 700 34px / 38px "Roboto",
        sans-serif),
    large: (normal 700 59px / 73px "Roboto", sans-serif)
);

$h3-font: (
    small: (normal 700 23px / 28px "Roboto",
        sans-serif),
    large: (normal 500 35px / 43px "Roboto", sans-serif)
);

$p-big: (
    small: (normal 700 16px / 23px "Roboto",
        sans-serif),
    large: (normal 700 23px / 28px "Roboto", sans-serif)
);

$p-normal: (
    small: (normal 400 16px / 23px "Roboto",
        sans-serif),
    large: (normal 400 20px / 28px "Roboto", sans-serif)
);

$p-small: (
    small: (normal 400 16px / 23px "Roboto",
        sans-serif),
    large: (normal 400 17px / 24px "Roboto", sans-serif)
);